.raleway-normal {
  font-family: "Raleway", sans-serif;
  
}
.inter-normal {
  font-family: "Inter", sans-serif;
  
}

/* shared style */

section{
    width: 1140px;
    margin: 0 auto;
}
.primary-color{
    color: #4E47FF;
}
 .btn-primary{
    border-radius: 10px;
    border: none;
    background-color: #4E47FF;
    padding: 12px 36px;
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
} 

.btn-primary:hover{
    background-color: red;
    color: #4E47FF;
    transition: all ease-in 0.2s;

}

.center{
    text-align: center;
}


/* header style start */

.header{
    background-image: url(Assets/Hero-bg.png);
    margin-bottom: 126px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1140px;
    margin: 0 auto;
}

.logo{
    font-size: 34px;
    font-weight: 900;
}
.span{
    color: red;
}

.banner-container{
    
    width: 905px;
    margin: 0 auto;
   
}
.banner-title{
    margin-top: 158px;
    font-size: 65px;
    font-weight: 700;
}
.stay{
    margin-top: 37px;
    margin-bottom: 152px;
}

/* action section style start */

.action{
    display: flex;
    gap: 220px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 116px;
}
.action-title{
    font-size: 42px;
    font-weight: 700;
    color: #252432;
}
.action-description{
    font-size: 24px;
    font-weight: 500;
    color: rgba(37, 36, 50, 0.5);
}
.action-img{
    border-radius: 48px;
}

/* production section style start */


.production{
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 24px;
    padding: 1px 14px;
    margin-bottom: 137px;

}
.users{
    
    display: flex;
    justify-content: space-around;
   margin-top: -40px;
}
.production-title {
    font-size: 38px;
    font-weight: 700;
    color: #252432;
    
    

}

.user-title{
    font-size: 80px;
    font-weight: 700;
    
}

.user-description{
    font-size: 20px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
    margin-top: -60px;
    margin-bottom: 50px;
}

/* review section style start */
.user-review-title{
    font-size: 42px;
    font-weight: 700;
    color: #252432;
}

.cards-container{
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-top: 50px;
}

.card{
   padding: 24px;
   border-radius: 14px;
   box-shadow: 0px 6px 50px 0px #F2EDED;
} 
.card-title{
    font-size: 24px;
    font-weight: 600;
    color: rgb(30, 30, 30);
}
.card-description{
    font-size: 16px;
    font-weight: 400;
    color: rgb(30, 30, 30);
}
.users{
    margin-top: 25px;
    display: flex;
    justify-content: start;
    gap: 20px;
}
.user-img{
    width: 50px;
    border-radius: 50%;
}
.user-name{
    font-size: 16px;
    font-weight: 600;
    color: rgb(117, 117, 117);
    margin-bottom: -10px;
}
.date{
    font-size: 16px;
    font-weight: 400;
    color: rgb(179, 179, 179);
}

